<!-- views/user.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon_academia.png" type="image/x-icon">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body class="home-page">
    <h1>Ya estás dentro {{ user.name }}</h1>
    <p>Estos son los datos de tu perfil:</p>
    <ul>
        <li>Email: {{ user.email }}</li>
        <li>Tipo de usuario: {{ user.type }}</li>
        <li>Identificador: {{ user.id }}</li>
        <li>Activo: {{ user.active }}</li>
    </ul>
    <form method="post" action="/logout">
      <button type="submit">Cerrar sesión</button>
    </form>
  </body>
</html>
